*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

.randcol{
    background:linear-gradient(45deg, #8500ff,#5acaff);
    height:100vh;
}

#container{
    position:absolute;
    top:10%;
    left:10%;
    right:10%;
    bottom:10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #151729;
    box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
    border-radius: 10px;
}

#container .error_page{
    max-width: 600px;
    text-align: center;
}

#container .error_page h2{
    font-size:18vw;
    color:white;
    line-height: 1em;
}

#container .error_page h4{
    position: relative;
    font-size: 1.5em;
    margin-bottom: 20px;
    color:#111;
    background:white;
    font-weight: 300;
    padding:10px 20px;
    display:inline-block;
}

#container .error_page p{
    color:white;
    font: 1.2em;
    font-family: cursive;
}

#container .error_page i{
    position: relative;
    display: inline-block;
    color:white;
    margin-top: 50px;
    background:#0568c1;
    padding: 15px 25px;
    border-radius: 10px;
    transition: .2s;
}

#container .error_page i:hover{
    box-shadow: 0 15px 30px rgba(0, 0, 0, .5);
    background: #04713B;
}