.wrapper{
    display: flex;
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
}
  
.style-link{
  text-decoration: none;
  color:white
}

.colorme{
  color:white
}

.color-icon{
  color:white
}

.glowonhover:hover{
  background-color: #594f8d !important;
  color:white
}
